.product {
    &-list {
        &_item {
            margin-bottom: 40px;
            position: relative;
        }
        &_pic {
            position: relative;
            width: 100%;
            padding-bottom: 77.54%;
            margin-bottom: 19px;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
        &_text {
            transform: translateY(-5px);
            h4 {
                font-family: PostGroteskBook;
                font-size: 13px;
                letter-spacing: 0.1em;
                margin-bottom: 6px;
            }
            p {
                font-family: PostGroteskLight;
                font-size: 12px;
                margin: 0;
            }
        }
        &-box {
            position: relative;
        }
        &_arrow {
            position: absolute;
            width: 15px;
            top: 50%;
            transition: 0.3s;
            transform: translateY(calc(-50% - 40px));
            img {
                width: 100%;
            }
            &.prev {
                left: -35px;
            }
            &.next {
                right: -35px;
            }
            &.swiper-button-disabled {
                opacity: 0;
            }
        }
        .collect {
            position: absolute;
            right: 15px;
            bottom: 25px;
        }
        @media screen and (max-width: 991px) {
            margin-top: 4px;
            margin-bottom: 0;
            &_item {
                margin-bottom: 32px;
            }
        }
        @media screen and (max-width: 767px) {
            &_arrow {
                display: none;
            }
        }
    }
    &_main {
        padding-right: 28px;
        position: relative;
        // display: flex;
        // flex-wrap: wrap;
        &_pic {
            width: 100%;
            &-m {
                width: 100%;
                padding-bottom: 118%;
                background-color: #EFEEEB;
                position: relative;
                img {
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
            }
        }
        &_inner {
            width: 100%;
            padding-bottom: 70.73%;
            position: relative;
        }
        &_slider {
            width: 75%;
            transition: 0.4s;
            position: relative;
            margin-bottom: 65px;
            ul {
                width: 100%;
                height: 100%;
                overflow-y: auto;
                transition: 0.8s;
                &::-webkit-scrollbar {
                    display: none;
                }

            }
            .carousel-indicators {
                margin: 6px 0 0;
                top: 100%;
                left: 0;
                justify-content: flex-start;
                button {
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: #d4d4d4;
                    border: 0 !important;
                    &.active {
                        background-color: #595959;
                    }
                }
            }
            &.active {
                width: calc(100% - 115px);
                // width: 93.5%;
                .carousel-control-next, .carousel-control-prev {
                    width: calc(50% + 130px);
                    top: 50%;
                    transform: translateY(-50%);
                    height: 50%;
                    opacity: 0;
                    &:hover {
                        opacity: 1;
                    }
                }
                .carousel-control-next {
                    right: -130px;
                    justify-content: flex-end;
                }
                .carousel-control-prev {
                    left: -130px;
                    right: inherit;
                    justify-content: flex-start;
                }
                .carousel-control-next-icon, .carousel-control-prev-icon {
                    width: 30px;
                    height: 30px;
                }
                .carousel-control-next-icon {
                    background-image: url(../img/slider-arrow-right-long.svg);
                }
                .carousel-control-prev-icon {
                    background-image: url(../img/slider-arrow-left-long.svg);
                }
                .product_main_close {
                    opacity: 1;
                    visibility: visible;
                }
            }
            .carousel-control-next, .carousel-control-prev {
                width: 18px;
                height: 18px;
                opacity: 1;
                top: calc(100% + 3px);
                // transition: 0.3s;
            }
            .carousel-control-next {
                right: 0;
            }
            .carousel-control-prev {
                left: inherit;
                right: 40px;
            }
            .carousel-control-next-icon, .carousel-control-prev-icon {
                width: 100%;
                height: 100%;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;

            }
            .carousel-control-next-icon {
                background-image: url(../img/slider-arrow-right.svg);
            }
            .carousel-control-prev-icon {
                background-image: url(../img/slider-arrow-left.svg);
            }
        }
        &_item {
            width: 100%;
            padding-bottom: 70.73%;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                top: 0;
                left: 0;
                position: absolute;
            }
        }
        &_pagi {
            position: absolute;
            right: calc(100% + 10px);
            bottom: 0;
        }
        &_dot {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #d4d4d4;
            margin-top: 6px;
            &.active {
                background-color: #595959;
            }
        }
        &_close {
            font-size: 12px;
            position: absolute;
            top: calc(100% + 3px);
            right: 0;
            opacity: 0;
            visibility: hidden;
            transition: 0.4s;
            cursor: pointer;
        }
    }
    &_info {
        width: 75%;
        >li {
            position: relative;
            font-family: PostGroteskLight;
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background-image: linear-gradient(to right, #999999 0%, #999999 50%, transparent 50%);
                background-size: 5px 18px;
                background-repeat: x-repeat;
                top: 0;
                left: 0;
            }
            &:last-child {
                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-image: linear-gradient(to right, #999999 0%, #999999 50%, transparent 50%);
                    background-size: 5px 18px;
                    background-repeat: x-repeat;
                    bottom: 0;
                    left: 0;
                }
            }

        }
        &_item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 15px 10px;
            position: relative;
            transition: 0.3s;
            cursor: pointer;
            &_right {
                display: flex;
                align-items: center;
            }
        }
        &_hide {
            padding: 5px 10px 25px 10px;
            display: none;
            p {
                margin: 0;
                font-family: PostGroteskLight;
                line-height: 1.8; 
            }
        }
    }
    &_intro {
        padding-left: 40px;
        // padding-top: 100px;
        position: fixed;
        // position: sticky;
        top: 150px;
        right: 28px;
        // width: calc((100% - 28px) * 0.25);
        width: calc((100% - 163px - 28px) * 0.25);
        max-height: calc(100vh - 50px);
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar {
            display: none;
        }
        &_title {
            margin-bottom: 26px;
            p {
                font-family: FrutigerLight;
                font-size: 12px;
                margin-bottom: 5px;
            }
            h1 {
                font-family: adobe-garamond-pro, serif;
                font-size: 22px;
                margin: 0;
            }
        }
        &_change {
            margin: 0 0 0 auto;
            width: 106px;
            position: relative;
            text-align: center;
            transition: 0.3s;
            transform: translateX(1px);
            z-index: 5;
            &_title {
                color: #a6a6a6;
                font-size: 12px;
                margin: 0;
                font-family: FrutigerLight;
                cursor: pointer;
                transition: 0.3s;
            }
            &_list {
                position: absolute;
                width: 100%;
                background-color: #d4d4d4;
                z-index: 5;
                padding: 5px 0;
                display: none;
                li {
                    font-family: FrutigerLight;
                    text-align: right;
                    padding: 3px 20px;
                    position: relative;
                    cursor: pointer;
                    &::before {
                        position: absolute;
                        content: "";
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        background-color: #fff;
                        top: 50%;
                        left: 10px;
                        transform: translateY(-50%);
                        opacity: 0;
                        transition: 0.3s;
                    }
                    &:hover, &.active {
                        background-color: rgb(234, 234, 234);
                    }
                }
            }
        }
        &_price {
            font-size: 18px;
            font-family: adobe-garamond-pro, serif;
            .unit {
                font-size: 13px;
                margin-right: 4px;
                transform: translateY(-2px);
            }
        }
        &_text {
            font-family: PostGroteskLight;
            font-size: 12px;
            // margin-bottom: 50px;
            padding-top: 10vw;
            margin: 0;
            text-align: justify;
        }
        &.scroll {
            position: absolute;
            // position: sticky;
            // top: inherit;
            // bottom: 0;
            // right: 28px;
            // width: calc(25% - 7px);
            // padding-left: 45px;
            width: calc((100% - 28px) * 0.25);
            // right: 25px;
            top: inherit;
            bottom: 0;
        }
    }
    &-swiper {
        &_pic {
            width: 100%;
        }
    }
    &_spec {
        margin-bottom: 72px;
        >li {
            position: relative;
            font-family: PostGroteskLight;
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background-image: linear-gradient(to right, #999999 0%, #999999 50%, transparent 50%);
                background-size: 5px 18px;
                background-repeat: x-repeat;
                top: 0;
                left: 0;
            }
            &:last-child {
                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-image: linear-gradient(to right, #999999 0%, #999999 50%, transparent 50%);
                    background-size: 5px 18px;
                    background-repeat: x-repeat;
                    bottom: 0;
                    left: 0;
                }
            }

        }
        &_icon {
            width: 25px;
            height: 25px;
            position: relative;
            .bar {
                position: absolute;
                background-color: $common-text;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 0.3s;
                &.vert {
                    width: 1px;
                    height: 8px;
                }
                &.hori {
                    width: 8px;
                    height: 1px;
                }
            }
            &.active {
                .bar {
                    &.vert {
                        transform: translate(-50%, -50%) rotate(90deg);
                    }
                }
            }
        }
        &_item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 15px 10px;
            position: relative;
            transition: 0.3s;
            cursor: pointer;
            &_right {
                display: flex;
                align-items: center;
            }
        }
        &_chosen {
            font-family: FrutigerLightCn;
            font-size: 12px;
        }
        &_list {
            display: none;
            li {
                border-top: 1px solid $gray-d4;
                font-family: FrutigerLightCn;
                cursor: pointer;
                transition: 0.3s;
                padding: 10px 40px;
                span {
                    display: block;
                    width: fit-content;
                    margin-left: auto;
                }
                @media screen and (min-width: 768px) {
                    &:hover {
                        background-color: $gray-d4;
                        color: #fff;
                        .product_spec_list_pic {
                            padding-bottom: 88%;
                        }
                    }
                }
            }
            &.frame {
                li {
                    padding: 0;
                    span {
                        padding: 10px 40px;
                    }
                    &.active {
                        background-color: $gray-d4;
                        color: #fff;
                        .product_spec_list_pic {
                            padding-bottom: 88%;
                        }
                    }
                }
            }
            &_pic {
                width: 100%;
                padding-bottom: 0;
                overflow: hidden;
                transition: 0.5s;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                }
            }
        }
        &_size {
            .size_content {
                span {
                    position: absolute;
                    top: 50%;
                    left: 25%;
                    transform: translateY(-50%);
                }
            }
        }
    }
    &_tab {
        margin-bottom: 54px;
        .nav-pills {
            padding: 0 9px;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background-image: linear-gradient(to right, #999999 0%, #999999 50%, transparent 50%);
                background-size: 5px 18px;
                background-repeat: x-repeat;
                top: 0;
                left: 0;
            }
        }
        .nav-link {
            color: $gray-b2;
            padding: 20px 0;
            font-family: PostGroteskLight;
            &.active {
                background-color: transparent;
                border-radius: 0;
                color: $common-text;
            }
        }
        .nav-item {
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
        .tab-pane {
            position: relative;
            padding: 20px 9px;
            p {
                margin: 0;
                font-family: PostGroteskLight;
                line-height: 1.8; 
            }
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background-image: linear-gradient(to right, #999999 0%, #999999 50%, transparent 50%);
                background-size: 5px 18px;
                background-repeat: x-repeat;
                top: 0;
                left: 0;
            }
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background-image: linear-gradient(to right, #999999 0%, #999999 50%, transparent 50%);
                background-size: 5px 18px;
                background-repeat: x-repeat;
                bottom: 0;
                left: 0;
            }
        }
        &-m {
            margin-bottom: 40px;
            >li {
                padding: 10px 6px;
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-image: linear-gradient(to right, $gray-b2 0%, $gray-b2 50%, transparent 50%);
                    background-size: 5px 18px;
                    background-repeat: x-repeat;
                    top: 0;
                    left: 0;
                }
                &:last-child {
                    &::after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 1px;
                        background-image: linear-gradient(to right, $gray-b2 0%, $gray-b2 50%, transparent 50%);
                        background-size: 5px 18px;
                        background-repeat: x-repeat;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
            &_title {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                &.active {
                    .product_tab-m_icon {
                        img {
                            &.normal {
                                opacity: 0;
                            }
                            &.active {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            &_content {
                width: 100%;
                padding: 14px 0 0;
                position: relative;
                margin-top: 10px;
                display: none;
                p {
                    margin: 0;
                }
                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-image: linear-gradient(to right, $gray-b2 0%, $gray-b2 50%, transparent 50%);
                    background-size: 5px 18px;
                    background-repeat: x-repeat;
                    top: 0;
                    left: 0;
                }
            }
            &_icon {
                width: 10px;
                height: 10px;
                position: relative;
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    top: 0;
                    left: 0;
                    transition: 0.3s;
                    &.active {
                        opacity: 0;
                    }
                }
            }
        }
    }
    &_change {
        margin-bottom: 23px;
    }
    &_detail {
        padding-right: 43px;
        &_inner {
            position: relative;
            display: flex;
            flex-wrap: wrap;
        }
        &_pic {
            position: relative;
            width: 100%;
            transition: 0.8s;
            &.horiSlider {
                padding-bottom: 71%;
            }
            &.vertiSlider {
                padding-bottom: 71%;
            }
        }
        &_slider {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            &_pic {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                }
            }
            &_pagi {
                position: absolute;
                bottom: 0;
                right: calc(100% + 10px);
                .swiper-pagination-bullet {
                    background-color: #d4d4d4;
                    opacity: 1;
                    display: block;
                    width: 6px;
                    height: 6px;
                    &:not(:last-child) {
                        margin-bottom: 6px;
                    }
                    &-active {
                        background-color: #595959;
                    }
                }
            }
            &_cross {
                width: 20px;
                height: 20px;
                position: absolute;
                right: 0;
                top: -30px;
                cursor: pointer;
                display: none;
                img {
                    width: 100%;
                }
            }
            &.active {
                position: fixed;
                height: calc(100vh - 100px);
                width: calc((100vh - 100px) / 0.71);
                top: 50px;
                left: calc(((100% - 163px) - ((100vh - 100px) / 0.71)) / 2 + 163px);
                z-index: 6;
            }
        }
    }
    &_like {
        transition: 0.8s;
        margin-top: 86px;
        padding-right: 28px;
        &_pic {
            width: 100%;
            position: relative;
            padding-bottom: 77%;
            display: block;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }
        &_slider {
            width: 100%;
        }
    }
    &Big {
        .product {
            // &_detail {
            //     height: 100vh !important;
            //     overflow: hidden;
            // }
            // &_main {
            //     &_inner {
            //         padding-bottom: calc(100vh - 100px);
            //         width: calc((100vh - 100px) / 0.71);
            //         top: 0;
            //         left: 50%;
            //     }
            // }
            // &_intro {
            //     opacity: 0;
            //     transform: translateX(100px);
            //     visibility: hidden;
            // }
            // &_like {
            //     opacity: 0;
            // }
            &_main {
                width: 100%;
                &_inner {
                    padding-bottom: calc(100vh - 100px);
                    width: calc((100vh - 100px) / 0.7073);
                    margin: 0 auto;
                }
            }
            &_intro {
                opacity: 0;
                // transform: translateX(100px);
                visibility: hidden;
            }
            &_like {
                // width: 75%;
            }
        }
    }
    &-larger {
        .product {
            &_main {
                width: 100%;
            }
            &_detail {
                &_pic {
                    padding-bottom: calc(100vh - 100px);
                    width: calc((100vh - 100px) / 0.71);
                    margin: 0 auto;
                }
            }
            &_intro {
                opacity: 0;
                transform: translateX(100px);
                visibility: hidden;
                width: 0;
            }
        }
    }
    @media screen and (max-width: 1100px) {
        &_main {
            // width: calc(100% - 305px);
            &_inner {
                // width: calc(100% - 305px);
            }
            &_slider {
                width: 100%;
            }
        }
        &_intro {
            // width: 305px;
            position: static;
            width: 100%;
            padding: 0;
            &_text {
                padding-top: 0;
                margin-bottom: 30px;
            }
        }
        &_spec {
            margin-bottom: 35px;
        }
        &_like {
            // width: calc(100% - 305px);
            margin-top: 40px;
        }
        &_info {
            width: 100%;
        }
    }
    @media screen and (max-width: 991px) {
        &_main {
            padding-right: 28px;
            &_inner {
                // position: static;
                width: 100%;
                
            }
            &_item {
                padding-bottom: 119%;
            }
        }
        &_detail {
            &_pic {
                margin-bottom: 44px;
                padding-bottom: 119% !important;
                height: auto !important;
            }
        }
        &_intro {
            padding: 0;
            position: static;
            display: flex;
            flex-direction: column;
            &_text {
                margin-bottom: 15px;
                order: 5;
            }
            &_title {
                order: 1;
            }
            .product_change {
                order: 2;
            }
            .btn-addtocart {
                order: 4;
            }
            .product_spec {
                order: 3;
                // margin-bottom: 0;
                >li {
                    &:last-child {
                        &::after {
                            // background-image: none;
                        }
                    }
                }
            }
        }
        &_spec {
            margin-bottom: 49px;
        }
        &_tab {
            // margin-bottom: 136px;
        }
        &_like {
            padding-right: 28px;
            position: static;
            width: 100%;
            margin-top: 136px;
        }
    }
    @media screen and (max-width: 767px) {
        &_detail {
            padding: 0;
            &_pic {
                &.vertiSlider, &.horiSilder {
                    padding-bottom: 118.9%;
                }
            }
            &_slider {
                &_pagi {
                    right: inherit;
                    left: 44px;
                    bottom: -25px;
                    display: flex;
                    .swiper-pagination-bullet {
                        margin-right: 5px;
                    }
                }
            }
        }
        &_intro, &_info {
            padding-left: 44px;
            padding-right: 44px;
        }
        &_like {
            padding-left: 44px;
            padding-right: 0;
        }
        &_tab {
            .nav-item {
                width: 50%;
                margin: 0;
            }
        }
        &_main {
            padding-right: 0;
            &_slider {
                .carousel-indicators {
                    padding-left: 44px;
                }
                .carousel-control-prev, .carousel-control-next {
                    width: 15px;
                }
            }
            &_item {
                img {
                    object-fit: cover;
                }
            }
            .carousel-control-prev {
                right: 75px;
            }
            .carousel-control-next {
                right: 44px;
            }
        }
    }
}

.check {
    cursor: pointer;
    &_box {
        width: 12px;
        height: 12px;
        border: 1px solid $common-text;
        margin-right: 5px;
    }
}

.btn-addtocart {
    width: 100%;
    height: 27px;
    border: 0;
    margin-bottom: 51px;
    transition: 0.3s;
    position: relative;
    padding: 0;
    &_bg {
        background-color: $common-text;
        width: 100%;
        height: 100%;
        transition: 0.3s;
    }
    span {
        transition: 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        color: #fff;
        font-family: DINBold;
        font-size: 14px;
        top: 0;
        left: 0;
    }
    &:hover {
        .btn-addtocart_bg {
            transform: scaleY(2);
            transform-origin: center;
        }
    }
    @media screen and (max-width: 767px) {
        padding: 0;
    }
}



@media screen and (max-width:991px) {
    .product {
        &_main {
            width: 100%;
            // padding-right: 0;
        }
        &_intro {
            width: 100%;
        }
        &_spec {
            &_size {
                .size_content {
                    span {
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                }
            }
        }
    }
}

@media screen and (max-width:575px) {
    .product {
        &_spec {
            margin-bottom: 43px;
            >li {
                padding: 0;
                &::before {
                    background-image: linear-gradient(to right, $gray-b2 0%, $gray-b2 50%, transparent 50%);
                }
                &:last-child {
                    &::after {
                        background-image: linear-gradient(to right, $gray-b2 0%, $gray-b2 50%, transparent 50%);
                    }
                }
            }
            &_title {
                width: 100%;
                img {
                    width: 10px;
                    transition: 0.3s;
                }
                &.active {
                    img {
                        transform: rotate(180deg);
                    }
                }
            }
            &_size {
                .size_content {
                    align-items: center;
                    justify-content: space-between;
                    span {
                        position: static;
                        transform: none;
                    }
                }
            }
            &_content {
                margin-top: 10px;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                display: none;
            }
        }
        &_intro {
            h1 {
                font-size: 16px;
            }
        }
        &_change {
            margin-bottom: 20px;
        }
    }
    .btn-addtocart {
        margin-bottom: 38px;
    }
}